# Dependencies
**/node_modules
**/.pnpm-store

# Environment Variables
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Build outputs
**/dist
**/build
**/.next
**/out

# System files
.DS_Store
Thumbs.db
